<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
  <h2>Login</h2>

  {% if messages %}
      {% for message in messages %}
          <p style="
              color: {% if message.tags == 'success' %}green{% else %}red{% endif %};
              font-weight: bold;
          ">
              {{ message }}
          </p>
      {% endfor %}
  {% endif %}
  
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Usuário" required><br>
    <input type="password" name="password" placeholder="Senha" required><br>
    <button type="submit">Entrar</button>
  </form>
  <p>Não tem conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
</body>
</html>
